.toggleable__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height .8s cubic-bezier(0, 1, 0, 1)
}

.toggleable__control:checked~.toggleable__content {
  transition-timing-function: ease-in-out;
  max-height: 800px;
}


/* Hiding elements in an accessible way */
.hidden--visually {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Theming CSS */

.toggle {
   max-width: 600px;
   padding: 3rem 1rem;
   font-size: 1.25rem;
   line-height: 1.333;
   font-family: sans-serif;
   margin: 0 auto;
}

.toggleable {
  border-bottom: 2px solid lightgray;
}

.toggleable__label {
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 0;
  cursor: pointer;
}

.toggleable__content {
  margin-top: 1rem;
  padding: 0 2rem;
}

.toggleable__control:checked~.toggleable__content {
  margin-bottom: 1rem;
}


.toggleable__label::after {
  content: url("/down.svg");
  font-size: 0.8rem;
}

.toggleable__control:checked~.toggleable__label::after {
  content: url("/down.svg");
  transform: rotate(180deg);
}
